@page "/pizzas"

<h1>Choose your pizza</h1>

<p>We have all these delicious recipes:</p>

@if (todaysPizzas == null)
{
  <p>We're finding out what pizzas are available today...</p>
}
else
{
  <table>
  <thead>
    <tr>
      <th>Pizza Id</th>
      <th>Order Id</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var pizza in todaysPizzas)
      {
        <tr>
          <td>@pizza.Id</td>
          <td>@pizza.OrderId</td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  @inject PizzaService PizzaSvc

  private Pizza[]? todaysPizzas;

  protected override async Task OnInitializedAsync()
  {
    todaysPizzas = await PizzaSvc.GetPizzasAsync();
  }
}